{% extends "base.html" %}
{% block "title" %}Accept authentication request{% endblock %}
{% block "body" %}
                We got a request from {{ openid_request.trust_root|escape }} to authenticate you as {{ openid_request.identity|escape }}.<br />
                If you accept this, you will be redirected to {{ openid_request.return_to|escape }}.<br />
                If you press cancel, you will be returned to {{ openid_request.getCancelURL|escape }}.<br />

                <form method="post" action="">
                        {% if openid_request.trustRootValid %}
                        <input type="checkbox" name="remember" checked="yes" value="yes" /> Remember
                        {% endif %}
                        <input type="submit" name="yes" value="yes" />
                        <input type="submit" name="cancel" value="Cancel" />
			<!--{% csrf_token %}-->
                </form>
{% endblock %}
