{% extends "base.html" %}
{% block "title" %}Login{% endblock %}
{% block "body" %}
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
<div>Please provide login credentials to login at <span id="trust_root"></span></div>
<form action="{{ app_path }}" method="post" id="login-form">
  <div>
    <label for="id_username">Username:</label> <input type="text" name="username" id="id_username" />
  </div>
  <div>
    <label for="id_password">Password:</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="post_data" value="{{ post_data }}" /> 
  </div>
  <div>
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
  {% csrf_token %}
</form>

<script type="text/javascript">
        document.getElementById('id_username').focus();

        function gup(name)
        {
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var tmpURL = window.location.href;
                var results = regex.exec( tmpURL );
                if( results == null )
                        return "";
                else
                        return results[1];
        }
        document.getElementById('trust_root').innerHTML = unescape(gup("tr"));
</script>
{% endblock %}
